body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

/* Styling Scrollbar*/
::-webkit-scrollbar {
  width: 4px;
  background-color: #e5e5e5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
}

/*Styling credits*/
.credits {
  padding: 4vh 10vh;
}

.icon-credits, .map-style-credits {
  background-color: #f8f8f8;
}

/*General layout*/
.outer-container {
  display: grid;
  height: 100vh;
  grid-template-rows: 30vh 1fr;
  background-color: #f7f7f7;
}

@media screen and (min-width: 350px) {
.outer-container {
    grid-template-columns: 40% 60%;  
    
  }
}

@media screen and (min-width: 800px) {
  .outer-container {
      grid-template-columns: 25% 75%;  
      
    }
  }

