body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: bisque;
  height: 100%;
}

html {
  height: 100%;
}
 
.App {
  height: 100%;
}

#outer-container {
  height: 100%;
} 

#page-wrap {
  height: 100%;
  overflow: auto;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 42px;
  height: 26px;
  left: 122px;
  top: 12px;
}

*:focus {
  color: #3397db;
  border-bottom-style: solid;
}

/* Burger color*/
.bm-burger-button span {
  background-color: #858585;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #f7f7f7;
}

/* General sidebar styles */
.bm-menu {
  background: #858585;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  height: 90%;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #fff;
  /* padding: 0.8em; */
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.tes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-around;
}

/* Styling Scrollbar*/
::-webkit-scrollbar {
  width: 4px;
  background-color: #e5e5e5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
}

/*Styling credits*/
.credits {
  padding: 4vh 10vh;
}

.icon-credits, .map-style-credits {
  background-color: #f8f8f8;
}

/*Styling Places list*/
.places-list {
  list-style-type: none;
  text-align: center;
}

.place {
  padding: 1vw 0vw 1vw
}